* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  color: #eee;
  font-family: Mohave;
  line-height: 1.5;
}

a {
  color: #ff7a00;
  text-decoration: none;
  font-size: 22px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 60;
  left: 0;
  width: 100%;
  z-index: 999;
}

.logo {
  width: 109.125px;
  height: 109.125px;
  flex-shrink: 0;
  aspect-ratio: 109.13/109.13;
  margin-top: 7px;
  margin-left: 24px;
  position: fixed;
}

ul.menu {
  list-style: none;
  display: flex;
  position: fixed;
  border-radius: 60px;
  z-index: 1000;
  font-family: Mohave;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  margin-top: 15px;
  margin-left: 540px;
  background-color: #000;
}

ul.menu li {
  padding: 15px 20px;
  color: var(--Orange-orange---100, #fb5c00);
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 60px;
  display: flex;
}

ul.menu li:hover {
  background-color: rgba(196, 67, 2, 0.27);
  border-radius: 60px;
  display: flex;
}

.nav a {
  margin-left: 20px;
  text-transform: uppercase;
}

.artist-hero {
  display: grid;
  grid-template-columns: 1.6fr 1fr;
  gap: 50px;
  padding: 185px 40px;
}

.artist-image img {
  width: 100%;
  display: block;
}

.artist-info h1 {
  font-size: 44px;
  color: #ff7a00;
  font-weight: 400;
  margin-bottom: -10;
}

.genre {
  color: #ffffff;
  margin-bottom: 30px;
  font-size: 30px;
  font-style: italic;
  font-weight: lighter;
}

.bio {
  font-size: 22px;
  max-width: 500px;
  font-style: italic;
  padding-right: 60px;
}

.bio2 {
  font-size: 22px;
  max-width: 500px;
  font-style: italic;
  padding-right: 60px;
  margin-top: 35px;
}

.section {
  padding: 60px 110px;
}

.section h2 {s
  font-size: 45px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 400;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 30px;
}

.card {
  cursor: pointer;
}

.card img {
  width: 100%;
}

.card h3 {
  font-size: 22px;
  font-weight: 400;
}

.card span {
  font-size: 22px;
  color: #aaa;
  font-weight: lighter;
  font-style: italic;
}

.video-card iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
  border: none;
}

.merch span {
  color: #ff7a00;
}

.footer {
  background: #111;
  padding: 60px 40px;
}

.footer-columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 40px;
}

.footer h4 {
  color: #ff7a00;
  margin-bottom: 15px;
}

.footer p {
  font-size: 13px;
  margin-bottom: 8px;
}

.footer input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  background: #000;
  border: 1px solid #333;
  color: #fff;
}

.footer button {
  background: #ff7a00;
  border: none;
  padding: 10px;
  cursor: pointer;
  color: #000;
  font-weight: bold;
}
