* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  color: #eee;
  font-family: Mohave;
  line-height: 1.5;
}

a {
  color: #ff7a00;
  text-decoration: none;
  font-size: 22px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 60;
  left: 0;
  width: 100%;
  z-index: 999;
}

.logo {
  width: 109.125px;
  height: 109.125px;
  flex-shrink: 0;
  aspect-ratio: 109.13/109.13;
  margin-top: 7px;
  margin-left: 24px;
  position: fixed;
}

ul.menu {
  list-style: none;
  display: flex;
  position: fixed;
  border-radius: 60px;
  z-index: 1000;
  font-family: Mohave;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  margin-top: 15px;
  margin-left: 540px;
  background-color: #000;
  border-radius: 73.125px;
  border: 1px solid var(--Orange-orange---100, #fb5c00);
}

ul.menu li {
  padding: 15px 20px;
  color: var(--Orange-orange---100, #fb5c00);
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 60px;
  display: flex;
}

ul.menu li:hover {
  background-color: rgba(196, 67, 2, 0.27);
  border-radius: 60px;
  display: flex;
}

.nav a {
  margin-left: 20px;
  text-transform: uppercase;
}

.artist-hero {
  display: grid;
  grid-template-columns: 1.6fr 1fr;
  gap: 50px;
  padding: 200px 40px;
}

.artist-image img {
  width: 100%;
  display: block;
}

.artist-info h1 {
  font-size: 44px;
  color: #ff7a00;
  font-weight: 400;
  margin-bottom: -10;
}

.genre {
  color: #ffffff;
  margin-bottom: 30px;
  font-size: 30px;
  font-style: italic;
  font-weight: lighter;
}

.bio {
  font-size: 22px;
  max-width: 500px;
  font-style: italic;
  padding-right: 60px;
}

.bio2 {
  font-size: 22px;
  max-width: 500px;
  font-style: italic;
  padding-right: 60px;
  margin-top: 35px;
}

.section {
  padding: 60px 110px;
}

.section h2 {
  font-size: 45px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 400;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 30px;
}

.card {
  cursor: pointer;
}

.card img {
  width: 100%;
}

.card h3 {
  font-size: 22px;
  font-weight: 400;
}

.card span {
  font-size: 22px;
  color: #aaa;
  font-weight: lighter;
  font-style: italic;
}

.video-card iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
  border: none;
}

.merch span {
  color: #ff7a00;
}

.filter {
  display: flex;
  position: absolute;
  flex-direction: column;
  gap: 5px;
  color: white;
  margin-left: 1150px;
  margin-top: -355px;
  font-size: 22px;
}

.filter-title {
  color: #ff6a00;
  font-size: 17px;
}

.filter-item {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  font-style: italic;
}

.radio {
  width: 16px;
  height: 16px;
  border: 2px solid #ff6a00;
  border-radius: 50%;
}

.label {
  white-space: nowrap;
}

.arrow {
  color: #ff6a00;
  margin-left: 6px;
}

.footer {
  display: flex;
  background: #000;
  color: #fff;
  background-color: #000;
  border-top: 2px solid #ff6a00;
  gap: 80px;
  font-size: 22px;
  font-weight: lighter;
  font-family: Mohave;
}

.footer-image img {
  width: 300px;
  height: auto;
  display: block;
}

.footer-column {
  min-width: 200px;
}

.footer-column h4 {
  color: #ff6a00;
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: 40px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column li {
  margin-bottom: 5px;
}

.footer-column a {
  color: white;
  text-decoration: none;
}

.footer-column a:hover {
  text-decoration: underline;
}

.newsletter form {
  display: flex;
  flex-direction: column;
}

.newsletter label {
  font-size: 22px;
}

.newsletter input {
  background: none;
  border: none;
  border-bottom: 1px dashed white;
  color: white;
  padding: 5px 0;
}

.newsletter input:focus {
  outline: none;
}

.newsletter button {
  background: none;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  align-self: flex-start;
  font-family: Mohave;
  font-size: 22px;
  font-weight: lighter;
  text-decoration: underline;
}

.media {
  display: flex;
  justify-content: space-between;
  padding: 60px 100px;
  position: absolute;
  margin-top: -300;
  gap: 90px;
}

.block h2 {
  color: white;
  margin-bottom: 2px;
  font-weight: lighter;
}

.icons {
  display: flex;
  gap: 15px;
}

.icons img {
  width: 30px;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.icons img:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
